<launch>
<node name="webcam" pkg="usb_cam" type="usb_cam_node">
  <param name="video_device" value="/dev/video1"/>
  <param name="image_width"  value="640"/>
  <param name="image_height" value="480"/>
  <param name="pixel_format" value="mjpeg"/>  
  <param name="framerate"    value="30"/>
  <param name="contrast"     value="32"/>
  <param name="brightness"   value="100"/>
  <param name="saturation"   value="32"/>
  <param name="autofocus"    value="false"/>
  <param name="camera_name"  value="webcam"/>
</node>
</launch>